/*PAGE elements*/
body {
    background-color: #4B0082;
}



/*TEXT elements*/
h1 {
    text-align: center;
    color: #B0C4DE;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    color: #8FBC8F;
    font-family: Arial, Helvetica, sans-serif;
}

/*MEDIA elements*/
img {
    width: 500px;
  }